/* ul {
  list-style-type: none;
} */

/* Style footer */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* main {
  flex: 1 0 auto;
} */

/* Add flex to the page */
/* a {
  flex: 1 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

h2 {
	color: rgb(233, 122, 122);
}

.btn {
	font-weight: bold;
}

ul {
	list-style-type: none;
}

.card-date {
	font-size: 20px;
	color: teal;
	font-weight: bold;
}

.card-background {
	color: white;
	background-color: rgb(233, 122, 122);
}

.no-symptoms {
	font-weight: bold;
}
