/* ul {
  list-style-type: none;
} */

/* Style footer */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* main {
  flex: 1 0 auto;
} */

/* Add flex to the page */
/* a {
  flex: 1 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* .pure-form .pure-form-aligned {
  color: rgb(233, 122, 122);
} */

ul {
	list-style-type: none;
}

.symptoms-form {
	display: none;
}
