/* ul {
  list-style-type: none;
} */

/* Style footer */
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* main {
  flex: 1 0 auto;
} */

/* Add flex to the page */
/* a {
  flex: 1 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

h2 {
  color: rgb(233, 122, 122);
}

.btn {
	color: white;

ul {
  list-style-type: none;

}
